/*---------------
    RESET
---------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*---------------
    DEBUG
---------------*/
.debug header{
    background-color: lightblue;
}
.debug .header-top {
    background-color: yellowgreen;
}
.debug .header-bot {
    background-color: darkblue;
    height: 500px;
}
.debug .hero {
    background-color: pink;
    height: 300px;
}
.debug main > section {
    height: 280px;
}
.debug main > section:nth-child(2n) {
    background-color: lightgray;
}
.debug .col-big {
    background-color: aqua;
    height: 200px;
}
.debug .col-small {
    background-color: salmon;
}
.debug main > section:last-child {
    height: 560px;
}
.debug .big-hero {
    background-color: green;
    height: 480px;
}
/*---------------
    COMMON
---------------*/
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
}
/*---------------
    HEADER
---------------*/
header {
    padding: 10px;
}
.header-top {
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}
.header-bot {
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
}
.hero {
    margin: 40px auto;
    width: 50%;
}
/*---------------
    MAIN
---------------*/
main section {
    padding: 40px;
}
.col-big {
    width: 60%;
}
.col-small {
    width: 40%;
}

/*---------------
    FOOTER
---------------*/