/*---------------
    RESET
---------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*---------------
    DEBUG
---------------*/
.debug header{
    background-color: lightblue;
}
.debug .header-top {
    background-color: yellowgreen;
}
.debug .header-bot {
    background-color: darkblue;
    height: 500px;
}
.debug .hero {
    background-color: pink;
    height: 300px;
    width: 60%;
}
.debug main > section {
    height: 280px;
}
.debug main > section:nth-child(2n) {
    background-color: lightgray;
}
.debug .col-big {
    background-color: aqua;
    height: 200px;
}
.debug .col-small {
    background-color: salmon;
}
.debug main > section:last-child {
    height: 560px;
}
.debug .big-hero {
    background-color: green;
    height: 480px;
}
.debug footer {
    background-color: #23272a;
}
.debug .footer-top {
    height: 280px;
}
.debug .footer-bot {
    height: 100px;
}
.debug .col-big-footer {
    background-color: orchid;
    height: 240px;
}
.debug .col-small-footer {
    background-color: cyan;
    height: 240px;
    border-left: 1px dotted black;
}
.debug .footer-bot .row {
    background-color: aquamarine;
}
.debug .footer-bot .row div{
    background-color: pink;
}
/*---------------
    COMMON
---------------*/
.container {
    max-width: 800px;
    margin: auto;
}
.row {
    display: flex;
}
/*---------------
    HEADER
---------------*/
header {
    padding: 10px 0;
}
.header-top {
    padding: 5px;
    margin-bottom: 10px;
}
.logo, .login {
    width: 20%;    
}
.header-top ul {
    width: 60%;
}
.header-top ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.header-top li {
    margin: 0 10px;
}
.header-top ul li a {
    text-decoration: none;
    color: inherit;
}
.header-top .login {
    text-align: right;
}
.header-bot {
    justify-content: center;
    align-items: center;
}
.hero {
    margin: 40px auto;
    max-width: 60%;
}
/*---------------
    MAIN
---------------*/
main section {
    padding: 40px 0;
}
.col-big {
    width: 60%;
}
.col-small {
    width: 40%;
}

/*---------------
    FOOTER
---------------*/
footer {
    padding-top: 10px;
}
.footer-bot > div {
    border-top: 2px solid white;
}
.col-big-footer {
    width: 35%;
}
.col-small-footer {
    width: calc(65% / 4);
}
.footer-bot {
    padding-top: 25px;
}
.footer-bot .row {
    justify-content: space-between;
    padding: 14px 0;
}
.footer-bot .row div {
    padding: 5px;
}